<div>
    <% cars.forEach(function(car) { %>
    <div class="slide  relative hidden">

        <img class="rounded  h-imgSlider w-imgSlider" src="../img/<%= car.model %>.jpg" alt="<%= car.model %>">
        <div class="absolute bottom-0 w-full p-5 shadow-2xl bg-white ">
            <div>
                <span>
                    <%= car.brand.name %>
                </span>
                <span><%= car.model  %></span>
            </div>
            <div class="flex justify-between">
                <span class="text-primary"><%= car.year + "." %></span>
                <span class="font-bold"><%= car.price + " $" %></span>
            </div>
        </div>
        <div class="progressBar bg-black h-3 top-0 absolute"></div>
    </div>
    <% }); %>


    <script src="/javascript/slider.js"></script>
</div>