<div>
    <!-- If there are images avaliable -->
    <% if(imgSliderCars.length > 0) { %>
    <% imgSliderCars.forEach(car => { %>
    <a href="/products/<%= car._id  %>">
        <div class="slide relative hidden">
            <div>
                <img class="rounded 
                lg:w-imgSlider lg:h-imgSlider cursor-pointer" src="/img/<%= car.model %>.jpg" alt="<%= car.model %>">
            </div>
            <div class="carDescriptionIndex">
                <div class="pt-2 pl-2 carDescXsLg">
                    <span>
                        <%= car.brand.name %>
                    </span>
                    <span><%= car.model  %></span>
                </div>
                <div class="flex justify-between px-2">
                    <span class="text-primary"><%= car.year + "." %></span>
                    <span class="font-bold"><%= car.price + " $" %></span>
                </div>
            </div>
        </div>
    </a>
    <% }); %>
    <!-- Message for admin when DB is empty -->
    <% } else { %>
    <p class="font-bodyFont text-xl">Database is empty.
        When you add some cars in it, slideshow of first 5 cars will
        appear here.
    </p>
    <% } %>



    <script src="/javascript/slider.js"></script>
</div>