<div>
    <% if(cars.length > 0) { %>
    <% cars.forEach(car => { %>
    <a href="/products/<%= car._id  %>">
        <div class="slide relative hidden">
            <div class="overflow-hidden w-imgSlider">
                <img class="rounded h-imgSlider cursor-pointer" src="../img/<%= car.model %>.jpg"
                    alt="<%= car.model %>">
            </div>
            <div class="absolute bottom-0 w-full p-5 shadow-2xl bg-white ">
                <div class="text-xl">
                    <span>
                        <%= car.brand.name %>
                    </span>
                    <span><%= car.model  %></span>
                </div>
                <div class="flex justify-between">
                    <span class="text-primary"><%= car.year + "." %></span>
                    <span class="font-bold pr-10 text-2xl"><%= car.price + " $" %></span>
                </div>
            </div>
            <div class="progressBar bg-gray-600 h-3 top-0 absolute"></div>
        </div>
    </a>
    <% }); %>
    <% } else { %>
    <p class="font-bodyFont text-xl">Database is empty.
        When you add some cars in it, slideshow of first 5 cars will
        appear here.
    </p>
    <% } %>



    <script src="/javascript/slider.js"></script>
</div>