<div class="flex flex-col items-center font-bodyFont">
    <h2 class="text-2xl underline">Car of the week:</h2>
    <% if (popularCar) { %>
    <a href="/products/<%= popularCar._id %>">
        <div class="my-20 xs:my-10 relative">
            <div class="overflow-hidden">
                <img class=" 
                rounded-lg cursor-pointer hover:scale-150
                hover:transform duration-500
                lg:w-imgSlider lg:h-imgSlider" src="/img/<%= popularCar.model %>.jpg" alt="">
            </div>
            <div class="carDescriptionIndex ">
                <div class="pt-2 pl-2">
                    <span>
                        <%= popularCar.brand.name %>
                    </span>
                    <span><%= popularCar.model  %></span>
                </div>
                <div class="flex justify-between px-2">
                    <span class="text-primary"><%= popularCar.year + "." %></span>
                    <span class="font-bold">
                        <%= popularCar.price + " $" %>
                    </span>
                </div>
            </div>
        </div>
    </a>
    <%} else{ %>
    <div class="my-10">
        <p class="text-2xl">Database is empty, when you add some cars in it, car with highest price will be displayed
        </p>
    </div>
    <% } %>

</div>