<div class="font-bodyFont flex justify-between mr-10 mt-28">
    <form class="bg-slate-600 mr-20 p-5 px-32 flex flex-col gap-8" action="/products" method="post" id="filterForm">
        <div class="grid grid-cols-2 gap-10">
            <div class="flex flex-col gap-2">
                <p>Brand:</p>
                <select class="filterProductsSelect" name="filterMethodBrand" id="selectFilter">
                    <option value="none">None</option>
                    <option value="BMW">BMW</option>
                    <option value="Audi">Audi</option>
                </select>
            </div>
            <div class="flex flex-col gap-2">
                <p>Model:</p>
                <select class="filterProductsSelect" name="filterMethodModel" id="selectFilter">
                    <option value="BMW">BMW</option>
                </select>
            </div>
        </div>
        <button onclick="submitFormFiltering()" class="w-40 py-4 m-auto bg-black text-white">Apply filters</button>
    </form>
    <form class="flex gap-20 items-end" action="/products" method="post" id="sortForm">
        <div class="flex flex-col justify-center gap-2">
            <p>Sort items:</p>
            <select onchange="submitFormSorting()" class="border-2 border-primary p-3 cursor-pointer" name="sortMethod"
                id="selectSorting">
                <option value="none" <%=selectedOption === '' ? 'selected' : 'none'  %>>None</option>
                <option value="ascendingPrice" <%=selectedOption === 'ascendingPrice' ? 'selected' : 'none'  %>>
                    Ascending
                    order by
                    price
                </option>
                <option value="descendingPrice" <%=selectedOption === 'descendingPrice' ? 'selected' : 'none'  %>>
                    Descending
                    order by
                    price
                </option>
                <option value="ascendingYear" <%=selectedOption === 'ascendingYear' ? 'selected' : 'none'  %>>Ascending
                    order by year
                </option>
                <option value="descendingYear" <%=selectedOption === 'descendingYear' ? 'selected' : 'none'  %>>
                    Descending
                    order by
                    year
                </option>
            </select>
        </div>
    </form>
    <script>
        function submitFormSorting() {
            document.getElementById('sortForm').submit();
        }
        function submitFormFiltering() {
            document.getElementById('filterForm').submit();
        }
    </script>
</div>