<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/output.css">
</head>

<body>
    <%- include ./partials/nav.ejs  %>
    <div class="flex flex-col items-center font-bodyFont tracking-wider ">
        <!-- Slucaj kada je admin ulogovan -->
        <% if(currentUser && currentUser.username === "admin") { %>
        <p class="text-3xl text-primary tracking-wider my-64">
            Admin cannot buy items from his own shop! Sign out of admin profile to be able to visit cart.
        </p>

        <!-- Slucaj kada admin nije ulogovan -->
        <% }else{ %>
        <h2 class="text-3xl">Your cart</h2>
        <% if(cartItems && cartItems.length > 0) { %>
        <section class="mt-14 grid grid-cols-3 items-center w-3/4">
            <div>
                <a class="btn bg-black text-white" href="/products">
                    Continue shopping
                </a>
            </div>
            <p class="flex justify-center text-2xl">
                <span class="mr-1"><%= cartItems.length %></span>
                <% if(cartItems.length > 1) { %>
                <span>items</span>
                <% } else{ %>
                <span>item</span>
                <% } %>
            </p>
            <div class="flex justify-end">
                <p class="p-5">
                    Hope you are having a great time!
                </p>
            </div>
        </section>

        <section class="w-3/4 mt-14 mb-64 grid grid-cols-5">
            <!-- Cart items div -->
            <div class="col-span-3 p-5 flex flex-col gap-7">

                <% for(car of cartItems) { %>
                <!-- Pojedinacni itemi -->
                <div class="flex flex-col gap-3">
                    <p class="span-2 font-bold text-xl">
                        <span>
                            <%= car.brand.name  %>
                        </span>
                        <span>
                            <%= car.model  %>
                        </span>
                    </p>
                    <div class="flex gap-10">
                        <div>
                            <img class="w-40 rounded-lg" src="/img/<%= car.model %>.jpg" alt="<%= car.model  %>">
                        </div>
                        <div class="grid grid-cols-5 items-center">
                            <p>
                                Car page:
                                <a class="underline" href="/products/<%= car._id %>">
                                    Click
                                </a>
                            </p>
                            <p class="col-span-2 flex flex-col gap-2 items-center">
                                <span>Car price:</span>
                                <span class="font-bold"><%= car.price  %>$</span>
                            </p>
                            <p class="flex flex-col gap-2 items-center ">
                                <span>Car year:</span>
                                <span class="font-bold"><%= car.year  %></span>
                            </p>
                            <!-- Brisanje auta iz korpe -->
                            <form class="flex items-center justify-center" method="post">
                                <input name="carId" value="<%= car._id  %>" class="hidden" type="text">
                                <button type="submit" class="text-2xl cursor-pointer">x</button>
                            </form>
                        </div>

                    </div>
                </div>

                <% } %>

            </div>
            <!-- Checkout div -->
            <div class=" p-5 col-span-2">
                <div class="flex flex-col gap-5">
                    <h2>Enter Promo code:</h2>
                    <div class="flex gap-5">
                        <div class="flex flex-col gap-2">
                            <input class="inputPromo border-2 border-primary p-2" type="text" placeholder="Promo code">
                            <p class="promoCodeMessage hidden">Promo code is invalid!</p>
                        </div>
                        <button class="submitPromo btn bg-black text-white h-12">
                            Submit
                        </button>
                    </div>
                </div>
                <div class="mt-10">
                    <div class="border-b-2 border-b-primary">
                        <h2 class="font-bold text-2xl">Price:</h2>
                    </div>
                    <div class="mt-5 flex flex-col gap-4">
                        <p class="flex justify-between">
                            <span>Subtotal</span>
                            <span class="font-bold text-xl"><%= subtotal.toFixed(2)  %> $</span>
                        </p>
                        <p class="flex justify-between">
                            <span>Shipping costs</span>
                            <span><%= shipmentCost.toFixed(2)  %> $</span>
                        </p>
                        <p class="flex justify-between">
                            <span>Estimated Sales Tax</span>
                            <span><%= salesTax.toFixed(2)  %> $</span>
                        </p>
                        <p class="flex justify-between mt-3">
                            <span>Estimated Total:</span>
                            <span class="font-bold text-xl">
                                <%= totalPrice.toFixed(2) %> $
                            </span>
                        </p>
                        <% if(!currentUser){ %>
                        <a class="btn bg-black text-white mt-8 flex justify-center" href="/signin">
                            Checkout
                        </a>
                        <% } else { %>
                        <form action="" method="post">
                            <% for (car of cartItems) { %>
                            <input class="hidden" name="carIdCheckout" value="<%= car._id %>" type="text">
                            <% } %>
                            <button class="checkoutButton w-full btn bg-black text-white mt-8 flex justify-center">
                                Checkout
                            </button>
                        </form>

                        <% } %>

                    </div>
                </div>
            </div>
        </section>

        <!-- Kada je korpa za kupovinu prazna -->
        <% } else { %>
        <p class="text-2xl text-primary tracking-wider my-64">Cart is currently empty! Head back to
            <a class="underline font-bold mx-1 uppercase text-black" href="/products">products</a>
            page to add items to cart.
        </p>
        <% }  %>
        <% } %>
    </div>
    <%- include ./partials/footer.ejs  %>
    <script>
        const submitPromo = () => {
            const promoCodeMessage = document.querySelector(".promoCodeMessage");
            const submitPromoBtn = document.querySelector(".submitPromo");

            submitPromoBtn.addEventListener("click", () => {
                promoCodeMessage.classList.remove("hidden");
            })
        };
        submitPromo();

    </script>
</body>

</html>