<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/output.css">
</head>

<body>
    <%- include ./partials/nav.ejs  %>
    <div class="font-bodyFont flex flex-col items-center">
        <h3 class="text-3xl">Edit cars</h3>
        <p class="text-primary text-2xl tracking-wide mt-20">Below you have a list of all cars in the database. Feel
            free to
            edit or delete any car you want.</p>
        <div class="flex justify-center mt-20 mb-48">
            <% if(cars.length > 0){ %>
            <ul>
                <% for (car of cars) { %>
                <li>
                    <div action="" method="post"
                        class="border-2 border-primary w-editPageProducts p-5 grid grid-cols-11">

                        <div class="carModel col-span-3 flex justify-center items-center gap-2 font-bold text-xl">
                            <span><%= car.brand.name  %></span>
                            <input class="w-52 focus:outline-none text-wrap" name="model" type="text" readonly
                                value="<%= car.model %>">
                        </div>

                        <span class="col-span-1 flex items-center"><%= car.year  %></span>

                        <p class="col-span-1 flex items-center"><%= car.price + "$" %></p>

                        <p class="col-span-4 flex items-center justify-center"><%= car.description %></p>

                        <div class="col-span-2 flex gap-5 justify-center items-center">

                            <div onclick="submitDelete('<%= car._id %>')"
                                class="deleteButton w-12 bg-black fill-white p-3 cursor-pointer hover:bg-slate-700">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <title>delete</title>
                                    <path
                                        d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
                                </svg>
                            </div>

                            <div onclick="submitEdit('<%= car._id %>')"
                                class="editButton w-12 bg-black fill-white p-3 cursor-pointer hover:bg-slate-700">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <title>pencil</title>
                                    <path
                                        d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
                                </svg>
                            </div>
                            <!-- Delete form 
                                Pravim input model, dajem mu value car.model, da bih mogao uzeti njegovu vrednost u post metodi i prosleditit ga DELETE funkciji
                            -->
                            <form id="deleteForm_<%= car._id %>" action="" method="post" name="delete"
                                style="display: none;">
                                <input type="hidden" name="carIdDelete" value="<%= car._id %>">
                            </form>

                            <!-- Edit form 
                                Pravim input model, dajem mu value car.model, da bih mogao uzeti njegovu vrednost u post metodi i prosleditit ga EDIT funkciji
                            -->
                            <form id="editForm_<%= car._id %>" action="" method="post" name="edit"
                                style="display: none;">
                                <input type="hidden" name="carIdEdit" value="<%= car._id %>">
                            </form>
                        </div>
                    </div>
                </li>
                <% }  %>
            </ul>
            <% } else { %>
            <p class="text-5xl mb-60 mt-20">No cars found!</p>
            <% } %>
        </div>
    </div>
    <%- include ./partials/footer.ejs  %>
    <script>
        function submitDelete(carId) {
            console.log(`Car ID je: ${carId}`)
            // Submit the delete form
            const form2 = document.querySelector("form");
            console.log(form2)
            const form = document.querySelector(`#deleteForm_${carId}`)
            form.submit()
        }

        // Function to submit edit form
        function submitEdit(carId) {
            // Submit the edit form
            const form = document.querySelector(`#editForm_${carId}`)
            form.submit()
        }
    </script>
</body>

</html>