<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/output.css">
</head>

<body>
    <%- include ./partials/nav.ejs  %>
    <% if(currentUser && currentUser.username === "admin") { %>
    <div class="font-bodyFont flex flex-col items-center">
        <h3 class="text-3xl">Edit cars</h3>
        <p class="text-primary text-2xl tracking-wide mt-20">Below you have a list of all cars in the database. Feel
            free to
            edit or delete any car you want.</p>
        <div class="flex justify-center mt-20 mb-48">
            <div class="hidden">
                <% for(brand of brands){ %>
                <p class="brand"><%= brand %></p>
                <% }  %>
            </div>
            <% if(cars.length > 0){ %>
            <ul class="w-editPageProducts">
                <li class="border-2 border-primary text-primary p-5 grid grid-cols-12 items-center">
                    <p class="col-span-3">Car brand and model:</p>
                    <p class="col-span-1">Car year of production:</p>
                    <p class="col-span-2">Car price:</p>
                    <p class="col-span-4">Car description:</p>
                    <p class="col-span-2">Delete and edit car:</p>
                </li>
                <% for (car of cars) { %>
                <li>
                    <form class="editForm_<%= car._id %> border-2 border-primary p-5 grid grid-cols-12" action=""
                        method="post">
                        <input class="hidden" name="carIdEdit" type="text" value="<%= car._id  %>">
                        <div class="col-span-3 flex justify-center items-center gap-2 font-bold text-lg">
                            <span class="carBrand_<%= car._id  %>"><%= car.brand.name  %></span>
                            <span class="carModel_<%= car._id  %> w-52 whitespace-normal"><%= car.model %></span>
                        </div>
                        <div class="col-span-1 flex items-center">
                            <span class="carYear_<%= car._id %>"><%= car.year  %></span>
                        </div>
                        <p class="flex col-span-2 justify-start items-center gap-2">
                            <span class="carPrice_<%= car._id %>">
                                <%= car.price %>
                            </span>
                            <span> $</span>
                        </p>
                        <p class="carDescription_<%= car._id %> col-span-4 flex items-center">
                            <%= car.description %></p>

                        <div class="col-span-2 flex gap-5 justify-center items-center">
                            <div onclick="submitDelete('<%= car._id %>')" class="deleteButton editCarsButton">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <title>delete</title>
                                    <path
                                        d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
                                </svg>
                            </div>
                            <div onclick="handleEdit('<%= car._id %>')"
                                class="editButton_<%= car._id  %> editCarsButton">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <title>pencil</title>
                                    <path
                                        d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
                                </svg>
                            </div>
                            <div onclick="confirmEdit('<%= car._id %>')"
                                class="confirmButton_<%= car._id %> editCarsButton hidden">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <title>check-bold</title>
                                    <path d="M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z" />
                                </svg>
                            </div>

                        </div>
                    </form>
                    <form class="hidden deleteForm_<%= car._id  %>" action="" method="post" name="delete">
                        <input class="hidden" name="carIdDelete" value="<%= car._id %>">
                    </form>
                </li>
                <% }  %>
            </ul>
            <% } else { %>
            <p class="text-5xl mb-60 mt-20">No cars found!</p>
            <% } %>
        </div>
    </div>
    <% } else{ %>
    <p class="pageNotFoundP">Page not found!</p>
    <% } %>

    <%- include ./partials/footer.ejs  %>
    <script>
        // Potvrdjivanje delete
        function submitDelete(carId) {
            const form = document.querySelector(`.deleteForm_${carId}`);
            form.submit();
        }
        // Funkcija za menjanje olovkice u check znak, kada se klikne na olovkicu za edit
        function toogleEdit(carId) {
            const confirmButton = document.querySelector(`.confirmButton_${carId}`);
            const editButton = document.querySelector(`.editButton_${carId}`);
            editButton.classList.toggle("hidden");
            confirmButton.classList.toggle("hidden");
        }
        function handleEdit(carId) {
            toogleEdit(carId);
            // Car brand edit, uzimam sve brendove iz baze i pravim select(dropdown listu)
            const carBrand = document.querySelector(`.carBrand_${carId}`);
            const carBrandValue = carBrand.textContent.trim();
            const carBrandSelect = document.createElement("select");
            const carBrandOptions = document.querySelectorAll(".brand");
            carBrandOptions.forEach(brand => {
                const brandOption = document.createElement("option");
                brandOption.value = brand.textContent;
                brandOption.text = brand.textContent;
                carBrandSelect.appendChild(brandOption);
                if (brand.textContent === carBrand.textContent) {
                    brandOption.setAttribute("selected", "selected");
                }
            });

            carBrandSelect.name = "carBrand";
            carBrandSelect.className = "px-5 py-2 border-2 border-primary";
            carBrand.parentNode.replaceChild(carBrandSelect, carBrand);
            // Car model edit
            const carModel = document.querySelector(`.carModel_${carId}`);
            // Brisem sav razmak pre texta
            const carModelValue = carModel.textContent.trim();
            const carModelInput = document.createElement("textarea");
            carModelInput.value = carModelValue;
            carModelInput.name = "carModel";
            carModelInput.className = "p-2 border-2 border-primary";
            carModel.parentNode.replaceChild(carModelInput, carModel);

            // Car year edit
            const carYear = document.querySelector(`.carYear_${carId}`);
            // Brisem sav razmak pre texta
            const carYearValue = carYear.textContent.trim();
            const carYearInput = document.createElement("input");
            carYearInput.type = "number";
            carYearInput.value = carYearValue;
            carYearInput.name = "carYear";
            // Handle-ujem min i max case
            carYearInput.addEventListener("input", () => {
                carYearInput.value = Math.min(Math.max(carYearInput.value, 1), 2024);
            });
            carYearInput.className = "w-24 px-4 py-2 border-2 border-primary";
            carYear.parentNode.replaceChild(carYearInput, carYear);

            // Car price edit
            const carPrice = document.querySelector(`.carPrice_${carId}`);
            // Brisem sav razmak pre texta
            const carPriceValue = carPrice.textContent.trim();
            const carPriceInput = document.createElement("input");
            carPriceInput.type = "number";
            carPriceInput.value = carPriceValue;
            carPriceInput.name = "carPrice";
            // Handle-ujem min i max case
            carPriceInput.addEventListener("input", () => {
                carPriceInput.value = Math.max(carPriceInput.value, 1);
            });
            carPriceInput.className = "w-32 px-4 py-2 text-start border-2 border-primary";
            carPrice.parentNode.replaceChild(carPriceInput, carPrice);

            // Car description edit
            const carDescription = document.querySelector(`.carDescription_${carId}`);
            const carDescriptionValue = carDescription.textContent.trim();

            const carDescriptionInput = document.createElement("textarea");
            carDescriptionInput.value = carDescriptionValue;
            carDescriptionInput.name = "carDescription";
            carDescriptionInput.className = "col-span-4 p-2 border-2 border-primary";
            carDescription.parentNode.replaceChild(carDescriptionInput, carDescription);
        }
        function confirmEdit(carId) {
            const confirmEditForm = document.querySelector(`.editForm_${carId}`);
            toogleEdit(carId);
            confirmEditForm.submit();
        }

    </script>
</body>

</html>