<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/output.css">
</head>

<body>
    <%- include ./partials/nav.ejs  %>
    <div class="font-bodyFont flex flex-col items-center">
        <h3 class="text-3xl">Edit cars</h3>
        <p class="text-primary text-2xl tracking-wide mt-20">Below you have a list of all cars in the database. Feel
            free to
            edit or delete any car you want.</p>
        <div class="flex justify-center mt-20 mb-48">
            <% if(cars.length > 0){ %>
            <ul>
                <% for (car of cars) { %>
                <li>
                    <div class="border-2 border-primary w-editPageProducts p-5 grid grid-cols-11">
                        <div class="col-span-2 flex justify-center items-center gap-2 font-bold text-lg">
                            <span><%= car.brand.name  %></span>
                            <span class="carModel_<%= car._id  %> w-52 whitespace-normal"><%= car.model %></span>
                        </div>

                        <div class="col-span-1 flex items-center">
                            <span class="carYear_<%= car._id %>"><%= car.year  %></span>
                        </div>
                        <p class="flex col-span-2 justify-start items-center gap-2">
                            <span class="carPrice_<%= car._id %>">
                                <%= car.price %>
                            </span>
                            <span> $</span>
                        </p>


                        <p class="carDescription_<%= car._id %> col-span-4 flex items-center justify-center">
                            <%= car.description %></p>

                        <div class="col-span-2 flex gap-5 justify-center items-center">

                            <div onclick="submitDelete('<%= car._id %>')" class="deleteButton editCarsButton">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <title>delete</title>
                                    <path
                                        d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
                                </svg>
                            </div>

                            <div onclick="handleEdit('<%= car._id %>')"
                                class="editButton_<%= car._id  %> editCarsButton">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <title>pencil</title>
                                    <path
                                        d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
                                </svg>
                            </div>
                            <div onclick="confirmEdit('<%= car._id %>')"
                                class="confirmButton_<%= car._id %> editCarsButton hidden">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <title>check-bold</title>
                                    <path d="M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z" />
                                </svg>
                            </div>
                            <!-- Delete form 
                                Pravim input model, dajem mu value car.model, da bih mogao uzeti njegovu vrednost u post metodi i prosleditit ga DELETE funkciji
                            -->
                            <form class="hidden deleteForm_<%= car._id  %>" action="" method="post" name="delete">
                                <input type="hidden" name="carIdDelete" value="<%= car._id %>">
                            </form>

                            <!-- Edit form 
                                Pravim input model, dajem mu value car.model, da bih mogao uzetmin-h-9i njegovu vrednost u post metodi i prosleditit ga EDIT funkciji
                            -->
                            <form class="hidden  confirmForm_<%= car._id %>" action="" method="get" name="edit">
                                <input type="hidden" name="carIdEdit" value="<%= car._id %>">
                            </form>
                        </div>
                    </div>
                </li>
                <% }  %>
            </ul>

            <% } else { %>
            <p class="text-5xl mb-60 mt-20">No cars found!</p>
            <% } %>
        </div>
    </div>
    <%- include ./partials/footer.ejs  %>
    <script>
        function submitDelete(carId) {
            console.log(`Car ID je: ${carId}`)
            const form = document.querySelector(`.deleteForm_${carId}`)
            form.submit()
        }
        function toogleEdit(carId) {
            const confirmButton = document.querySelector(`.confirmButton_${carId}`);
            const editButton = document.querySelector(`.editButton_${carId}`);
            editButton.classList.toggle("hidden");
            confirmButton.classList.toggle("hidden")
        }
        // Function to submit edit form
        function handleEdit(carId) {
            toogleEdit(carId);
            // Car model edit
            const carModel = document.querySelector(`.carModel_${carId}`);
            // Brisem sav razmak pre texta
            const carModelValue = carModel.textContent.trim();
            const carModelInput = document.createElement("input");
            carModelInput.type = "text";
            carModelInput.value = carModelValue;
            carModelInput.className = `carModel_${carId} w-24 px-4 py-2 h-auto text-wrap`;
            carModel.parentNode.replaceChild(carModelInput, carModel)

            // Car year edit
            const carYear = document.querySelector(`.carYear_${carId}`);
            // Brisem sav razmak pre texta
            const carYearValue = carYear.textContent.trim();
            console.log(carYearValue)
            const carYearInput = document.createElement("input");
            carYearInput.type = "number";
            carYearInput.value = carYearValue;
            carYearInput.className = `carYear_${carId} w-24 px-4 py-2 `;
            carYear.parentNode.replaceChild(carYearInput, carYear)

            // Car price edit
            const carPrice = document.querySelector(`.carPrice_${carId}`);
            // Brisem sav razmak pre texta
            const carPriceValue = carPrice.textContent.trim();
            console.log(carPriceValue)
            const carPriceInput = document.createElement("input");
            carPriceInput.type = "number";
            carPriceInput.value = carPriceValue;
            carPriceInput.className = `carPrice_${carId} w-32 px-4 py-2 text-start`;
            carPrice.parentNode.replaceChild(carPriceInput, carPrice)

            // Car description edit
            const carDescription = document.querySelector(`.carDescription_${carId}`);
            const carDescriptionValue = carDescription.textContent.trim();

            const carDescriptionInput = document.createElement("textarea");
            carDescriptionInput.type = "text";
            carDescriptionInput.value = carDescriptionValue;
            carDescriptionInput.className = `carDescription_${carId} col-span-4 flex items-center px-2`;

            carDescriptionInput.addEventListener('input', function () {
                if (carDescriptionInput.value.length > 49) {
                    carDescriptionInput.classList.add("h-72");
                    carDescriptionInput.classList.remove("items-center")
                    carDescriptionInput.classList.add("items-start")
                }
            });
            carDescription.parentNode.replaceChild(carDescriptionInput, carDescription)
        }
        function confirmEdit(carId) {
            const confirmEditForm = document.querySelector(`.confirmForm_${carId}`)
            toogleEdit(carId)
            confirmEditForm.submit()
        }
    </script>
</body>

</html>