<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/output.css">
</head>

<body>
  <nav>
    <h1>
      <%= title %>
    </h1>
    <div>
      <p>Brands</p>
    </div>
  </nav>
  <p>Welcome to <%= title %>
  </p>
  <div>
    <% cars.forEach(car=>{ %>
      <div>
        <p>
          <%= car.model %>
        </p>
        <p>
          <%= car.price %>
        </p>
      </div>

      <% }) %>
  </div>
</body>

</html>