<!DOCTYPE html>
<html>

<head>
  <title>DriftDreams</title>
  <link rel="stylesheet" href="/styles/output.css">
</head>

<body>
  <div>
    <%- include ./partials/nav.ejs %>
    <%- include ./partials/homePageImage.ejs %>
    <div class="flex xs:flex-col xl:flex-row mx-16 my-28 items-center justify-between">
      <%- include ./partials/imageSliderIndex.ejs  %>
      <%- include ./partials/newsletter.ejs  %>
    </div>
    <%- include ./partials/mostPopularItem.ejs  %>
    <%- include ./partials/reviews.ejs  %>
  </div>
  <%- include ./partials/footer.ejs  %>
</body>

</html>