<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/styles/output.css">
</head>

<body>
  <div class="mx-16">
    <%- include ./partials/nav.ejs %>
    <%- include ./partials/homePageImage.ejs %>
    <div class="flex my-28 items-center justify-between">
      <%- include ./partials/imageSliderIndex.ejs  %>

      <%- include ./partials/newsletter.ejs  %>
    </div>

  </div>

  </div>
</body>

</html>